<h1>Listing tasks</h1>

<div class="split left">
  <div class="centered">
    <h4>Tasks</h4>
    <hr>

    <%= simple_form_for :search, url: dashboard_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :subject, input_html: {value: ""} %>
      <%= f.input :status, collection: { 'To Do' => 0, 'In Progress' => 1, 'In Review' => 2, 'Done' => 3}, :include_blank => '(All)', :multiple => true, :selected => [''] %>
      <%= f.input :type, collection: { 'Issue' => 'Issue', 'Story' => 'Story' }, :include_blank => '(All)', :multiple => true, :selected => [''] %>
      <%= f.input :assignee, collection: User.all, :label_method => :email,:value_method => :id, :include_blank => '(All)', :multiple => true, :selected => [''] %>
      <%= f.input :created_by, collection: Admin.all, :label_method => :email,:value_method => :id, :include_blank => '(All)', :multiple => true, :selected => [''] %>

      <%= f.submit "Search", class: "btn btn-primary" %>
      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>

    <hr>

    <table>
      <tr>
        <th>Subject</th>
        <th>Type</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>

      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.subject %></td>
          <td><%= task.type %></td>
          <td><%= render 'tasks/status', task: task %></td>
          <td><%= link_to 'Show', task_path(task) %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h4>SQL</h4>
    <br>

    <h5>Users</h5>
    <table>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= link_to 'Show', user_path(user) %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <hr>
    
    <h5>Admins</h5>
    <table>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>

      <% @admins.each do |admin| %>
        <tr>
          <td><%= admin.email %></td>
          <td><%= link_to 'Show', admin_path(admin) %></td>
          <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
          <td><%= link_to 'Destroy', admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>

    <h4>In review</h4>
    <hr>

    <table>
      <tr>
        <th>Subject</th>
        <th>Type</th>
        <th colspan="3"></th>
      </tr>

      <% @tasks_review.each do |task| %>
        <tr>
          <td><%= task.subject %></td>
          <td><%= task.type %></td>
          <td><%= link_to 'Show', task_path(task) %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>