<p id="notice"><%= notice %></p>

<h1>Comments</h1>
<br>

<%= link_to 'New Comment', new_comment_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td>
          <% if comment.author_type == 'Admin' %>
            <%= Admin.where(id: comment.author_id).first.email %>
          <% else %>
            <%= User.where(id: comment.author_id).first.email %>
          <% end %>
        </td>
        <td><%= comment.comment_text %></td>
        <td><%= link_to 'Show', comment_path(comment) %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
