<p id="notice"><%= notice %></p>

<%= simple_form_for @task, url: task_path do |f| %>
  <%= f.error_notification %>

  <%= f.label :author %>
  <% if comment.author_type == 'Admin' %>
    <p><%= Admin.where(id: comment.author_id).first.email %></p>
  <% else %>
    <p><%= User.where(id: comment.author_id).first.email %></p>
  <% end %>
  <%= f.label :comment_text %>
  <p><%= comment.comment_text %></p>

  <% unless comment.reply_id.nil? %>
    <%= link_to "Reply",   comment_path(Comment.where(id: reply_id).first) %>
  <% end %>

  <%= f.label :created_at %>
  <p><%= comment.created_at %></p>

  <%= f.label :updated_at %>
  <p><%= comment.updated_at %></p>
<% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
