<%= form_for(@comment) do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :comment_text %><br />
    <%= f.text_area :comment_text, :size => "67x5"%>
  </div>

  <% unless params[:reply_id].to_s.empty? %>
    <%= hidden_field_tag :reply_id, params[:reply_id] %>
  <% end %>

  <% if params[:task_id].to_s.empty? %>
    <%=  f.label :task_id  %><br/>
    <%= f.collection_select(:task_id, Task.all, :id, :subject) %>
  <%  else  %>
    <%=  hidden_field_tag :task_id, params[:task_id] ? params[:task_id] : @task.id  %>
  <%  end %>

  <% if user_signed_in? %>
    <%= f.hidden_field :author_id,    :value => current_user.id %>
    <%= f.hidden_field :author_type,  :value => 'User' %>
  <% elsif admin_signed_in? %>
    <%= f.hidden_field :author_id,    :value => current_admin.id %>
    <%= f.hidden_field :author_type,  :value => 'Admin' %>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
