<%= simple_form_for @user, url: user_path do |f| %>
  <%= f.error_notification %>

  <%= f.input :email, input_html: {value: user.email} %>
  <%= f.input :password, input_html: {value: user.password} %>

  <%= f.label :created_at %>
  <p><%= user.created_at %></p>

  <%= f.label :updated_at %>
  <p><%= user.updated_at %></p>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>